/* css reset end*/
.ttklink_box div{
    padding: 0;
    margin: 0;
}

.ttklink_con {
    position: absolute;
    display: none;
    visibility: hidden;
}

.ttklink_con .ttklink_header {
    margin-left: 4px;
    position: relative;
    overflow: hidden;
    width: 264px;
    height: 27px;
    border: 1px #e42a63 solid;
    -webkit-box-shadow: 0px 0px 4px 1px #e2e2e2;
    box-shadow: 0px 0px 4px 1px #e2e2e2;
    border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    background-color: #f33c74;
}

.ttklink_header .ttklink_logo {
    display: block;
    float: left;
    width: 80px;
    height: 17px;
    padding: 4px 0 0 8px;
}
.ttklink_header img {
    display: block;
    border: 0;
}

.ttklink_header .ttklink_close {
    display: block;
    float: right;
    padding: 8px;
    height: 12px;
    width: 12px;
    border-left: 1px #e42a63 solid;
}

.ttklink_con .ttklink_iframe {
    border: 1px solid #BBBBBB;
    border-top: none;
    font-family: arial;
    font-size: 12px;
    position: relative;
    width: 264px;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 4px 1px #e2e2e2;
    box-shadow: 0px 0px 4px 1px #e2e2e2;
    border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0 0 3px 3px;
    margin-left: 4px;
    height: 446px;
    background: url(http://browser.re.taotaosou.com/images/ttlink/waiting-v2.gif) no-repeat center;
    background-color: #f6f6f6;

}

.ttklink_waiting {
    vertical-align: middle;
    text-align: center;
    background: url(http://browser.re.taotaosou.com/images/ttlink/waiting-v2.gif) no-repeat;
    width: 126px;
    height: 84px;
    display: block;
    margin: 0 auto;
    margin-top: 200px;
}

.tts_icon {
    margin-left: 3px;
    display: inline;
    vertical-align: top;
    height: 12px;
    width: 14px;
}

.ttklink_point_right {
    width: 16px;
    height: 21px;
    position: absolute;
    top: 220px;
    left: 269px;
    background: url(http://browser.re.taotaosou.com/images/ttlink/ttk_pointer3.png) no-repeat;
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = "http://browser.re.taotaosou.com/images/ttlink/ttk_pointer3.png", sizingMethod = "scale")
}

.ttklink_point_left {
    width: 16px;
    height: 21px;
    position: absolute;
    top: 220px;
    left: -11px;
    background: url(http://browser.re.taotaosou.com/images/ttlink/ttk_pointer2.png) no-repeat;
    _background-image: none;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = "http://browser.re.taotaosou.com/images/ttlink/ttk_pointer2.png", sizingMethod = "scale")
}